.TeamBox {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
  width: 40%;
  padding: 10px;
  min-height: 40vh;
  border: 1px solid #ede8e8;
  border-radius: 5px;
}

.displayTodoPlayer {
  display: flex;
  margin: 10px 0px;
  position: relative;
}

.inputTag {
  width: 180px;
  font-weight: inherit;
  font-size: inherit;
}

.text {
  width: 153px;
  font-size: 20px;
  overflow: scroll;
  cursor: pointer;
  user-select: none;
}

.setupTeamHeader {
  font-weight: 600;
  margin: 20px 0px;
  font-size: large;
  cursor: pointer;
  width: 100%;
}

.deleteBtn {
  color: gray;
  font-weight: 700;
  margin: auto;
  cursor: pointer;
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container:hover .deleteBtn {
  display: block;
}
.player {
  width: 100%;
  font-size: medium;
  margin-bottom: 7px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popupInner {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 25%;
  background: white;
  border-radius: 5px;
}

.popupInner .scoreBoardHdr {
  font-size: x-large;
  border-bottom: 1px solid lightgray;
  margin-top: 20px;
  padding-bottom: 10px;
}

.popupContent > .toss {
  width: 50%;
}

.popupContent .opted {
  width: 50%;
}

.popupContent > .overs,
.opted,
.toss {
  width: 50%;
  margin: 15px auto;
}

.popupContent .subHdr {
  font-size: large;
  color: #009270;
  font-weight: 600;
}

.closeBtn {
  position: absolute;
  left: 95.5%;
  top: 1%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: medium;
}
