body {
  background-color: #e3e6e3;
}

.body {
  background-color: white;
  font-size: 14px;
  max-width: 980px;
  margin: 0 auto;
}

.homePage {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}

.separationBwtMenuBody {
  height: 6px;
  background-color: #e3e6e3;
}

.menubar {
  height: 48px;
  background: #009270;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
}

.logo {
  height: 30px;
  padding: 3px;
  cursor: pointer;
}

.hostBtn,
.nextBtn {
  background-color: mediumblue;
  color: white;
  margin: auto 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  padding: 3px;
}

.nextBtnDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.scoreBoard {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}
.vs {
  color: green;
  font-size: xx-large;
}

.scoreBoardHeader {
  text-align: center;
}

.scoreInScoreBoard {
  display: flex;
  justify-content: space-around;
}

.teamScore {
  display: flex;
  justify-content: space-around;
}

.inPlayPlayers {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

.inPlayBatsmanHdr {
  display: flex;
  justify-content: space-around;
}

.inPlayHdr {
  color: #666;
  background-color: #ecebeb;
}

.inPlayBatsmanHdr .pos1 {
  width: 40%;
}
.inPlayBatsmanHdr .pos2 {
  text-align: right;
  width: 18%;
}
.inPlayBatsmanHdr .pos3 {
  text-align: right;
  width: 18%;
}
.inPlayBatsmanHdr .pos4 {
  text-align: right;
  width: 24%;
}

.thisOver {
  width: 500px;
  border: 1px solid black;
}

.balls {
  display: flex;
  color: white;
  text-align: center;
}

.ball {
  background-color: #028062;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 2px;
  margin: 1px 10px;
  cursor: pointer;
}

.balls .run6 {
  background-color: darkgoldenrod;
}

.balls .run4 {
  background-color: aqua;
}

.balls > .nb,
.lb,
.wd,
.wk {
  background-color: brown;
  min-width: fit-content;
}

.balls .wk {
  background-color: red;
}

.updateScores {
  display: flex;
  width: 350px;
  border: 1px solid black;
}

.extras {
  border: 1px solid black;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.ballRuns {
  border: 1px solid black;
  width: 50%;
  flex-wrap: wrap;
}

.selectingPlayer {
  border: 1px solid black;
  width: 180px;
  height: 40px;
  display: flex;
}

.selectPlayers {
  border: 1px solid black;
  width: 300px;
  height: 100px;
  overflow: scroll;
}

.playerSelection {
  border: 1px solid black;
  width: 400px;
  height: 130px;
}

.setupTeams {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0px auto;
}

.matchStepup {
  align-items: center;
}

.matchStatus {
  color: red;
  font-size: small;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.teamScoreCard {
  display: flex;
  text-align: left;
}

.teamName {
  height: 16px;
  overflow: hidden;
  width: 60px;
}

.teamScores {
  width: 140px;
}
.matchBoxStatus {
  color: blue;
}

.matchBoxLink {
  color: black;
  text-decoration: none;
  padding: 0px 11px;
  margin-top: 10px;
  border: 1px solid black;
  width: 200px;
  height: 80px;
}

.match_scoreBoard {
  min-height: 50vh;
}

.scoreBoard_header {
  text-align: center;
}

.scoreBoardStatusMsg {
  color: blue;
  margin-left: 120px;
  font-size: large;
}

.scoreBoardHdr {
  margin: 0px;
  text-align: center;
}

.teamScoreHeader {
  background-color: #4a4a4a;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 8px 0px;
  width: 85%;
  font-weight: bolder;
  font-size: medium;
}
.notBattedPlayer {
  margin: 0px 8px;
}
.notBattedPlayersBox {
  display: flex;
  margin: 10px 0px;
  font-weight: 600;
}

.notBattedPlayers {
  color: #1866db;
  display: flex;
}

.battingPerformance {
  width: 35%;
}

.playersPerformance {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.bowlersPerformance {
  width: 35%;
}

.headerToCenter {
  display: flex;
  justify-content: center;
}
