body {
  background-color: #e3e6e3;
}

.body {
  background-color: white;
  font-size: 14px;
  max-width: 980px;
  margin: 0 auto;
}

.separationBwtMenuBody {
  height: 6px;
  background-color: #e3e6e3;
}

.menubar {
  height: 48px;
  background: #009270;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
}

.logo {
  height: 30px;
  margin: 5px 0px 0px 40px;
  cursor: pointer;
}

.hostBtn,
.login,
.nextBtn {
  background-color: mediumblue;
  color: white;
  margin: auto 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  padding: 3px;
}

.menuBtnS {
  width: 20%;
  margin: auto 20px;
  display: flex;
  flex-direction: row-reverse;
}

.login {
  font-size: large;
  padding: 5px 10px;
}

.imgUrl {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

.nextBtnDiv {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nextBtnDiv button {
  color: white;
  background-color: mediumblue;
  border: none;
  border-radius: 2px;
  font-size: large;
  cursor: pointer;
}

.scoreBoard {
  min-height: 90px;
}

.vs {
  color: blue;
  font-size: xx-large;
  margin: 0px 10px;
}

.scoreBoardHeader {
  text-align: center;
}

.teamScore {
  display: flex;
  font-size: large;
}

.teamScore span {
  font-weight: 600;
  font-size: xx-large;
}

.scoreBoard .teamHd {
  font-weight: 600;
  font-size: large;
  margin-bottom: 10px;
  display: flex;
}

.scoreBoard .crr {
  margin-top: 3%;
}

.placement {
  width: 30%;
  margin-left: 20%;
}

.inPlayPlayers {
  height: 120px;
}

.inPlayPlayers .batsman {
  height: 65%;
}

.inPlayBatsmanHdr {
  display: flex;
  justify-content: space-around;
  height: 25px;
}

.inPlayBatsmanHdr .pos1 {
  padding-left: 10px;
}
.inPlayBatsmanHdr .pos4 {
  padding-right: 10px;
}
.inPlayBatsmanHdr > .pos2,
.pos3,
.pos1,
.pos4 {
  padding-top: 4px;
}

.inPlayHdr {
  color: #666;
  background-color: #ecebeb;
}

.inPlayBatsmanHdr .pos1 {
  width: 40%;
}
.inPlayBatsmanHdr .pos2 {
  text-align: right;
  width: 18%;
}
.inPlayBatsmanHdr .pos3 {
  text-align: right;
  width: 18%;
}
.inPlayBatsmanHdr .pos4 {
  text-align: right;
  width: 24%;
}

.thisOver,
.inPlayPlayers,
.scoreBoard,
.updateScores,
.playerSelection {
  width: 50%;
  margin: 0px auto;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
  border: 1px solid #ede8e8;
  margin-bottom: 20px;
}

.thisOver span {
  color: black;
  margin-top: 4px;
  font-weight: 700;
}

.thisOver {
  height: 25px;
}

.updateScores .ball {
  margin: 10px;
}

.balls {
  display: flex;
  color: white;
  text-align: center;
}

.ball {
  background-color: #028062;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 2px;
  margin: 1px 10px;
  cursor: pointer;
}

.balls .run6 {
  background-color: darkgoldenrod;
}

.balls .run4 {
  background-color: aqua;
}

.balls > .nb,
.lb,
.wd,
.wk {
  background-color: brown;
  min-width: fit-content;
}

.balls .wk {
  background-color: red;
}

.updatedScoreBoard {
  min-height: 90vh;
}

.updateScores {
  display: flex;
  justify-content: space-around;
}

.updateScores .extras {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
  display: grid;
  grid-template-columns: auto auto;
}

.ballRuns {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.selectingPlayer {
  font-size: large;
  font-weight: 600;
  height: 40px;
  display: flex;
}

.selectPlayers {
  width: 100%;
  height: 100px;
  overflow: scroll;
}

.playerSelection,
.updateScores {
  height: 140px;
}

.playerSelection .playerName {
  width: 30%;
}

.playerSelection .nextBtn {
  padding: 5px 5px;
  margin: 15px 0px 0px 0px;
}

.setupTeams {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 10px auto;
}

.matchStepup {
  align-items: center;
}

.matchStatus {
  color: red;
  font-size: small;
  margin-left: 20%;
}

.teamScoreCard {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  box-sizing: border-box;
  padding: 0px 11px;
}

.teamName {
  text-align: left;
  height: 16px;
  overflow: hidden;
  width: 180px;
  font-weight: 600;
  color: #2b2d2c;
}

.teamScores {
  text-align: right;
  width: 140px;
  font-weight: 700;
}
.matchBoxStatus {
  color: blue;
  background-color: #f1f2f3;
  margin-top: 3px;
  box-sizing: border-box;
  height: 18px;
  padding: 0px 10px;
}

.homePage {
  max-height: 80vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: auto auto auto;
}

.matchBox {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;

  border: 1px solid #ede8e8;
  margin: 10px 0px 0px 21px;
  width: 280px;
  height: 100px;
  color: black;
  border-radius: 5px;
}

.matchBoxLink {
  text-decoration: none;
}

.match_scoreBoard {
  min-height: 50vh;
}

.scoreBoard_header {
  text-align: center;
}

.scoreBoardStatusMsg {
  color: blue;
  margin: 0px 0px 10px 72px;
  font-size: large;
}

.scoreBoardHdr {
  margin: 0px;
  text-align: center;
}

.teamScoreHeader {
  background-color: #4a4a4a;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 8px 0px;
  width: 85%;
  font-weight: bolder;
  font-size: medium;
}
.notBattedPlayer {
  margin: 0px 8px;
}
.notBattedPlayersBox {
  display: flex;
  margin: 10px 0px;
  font-weight: 600;
}

.notBattedPlayers {
  color: #1866db;
  display: flex;
}

.battingPerformance {
  width: 35%;
}

.playersPerformance {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.bowlersPerformance {
  width: 35%;
}

.headerToCenter {
  display: flex;
  justify-content: center;
}

.completed {
  color: #2b2c2d;
  font-weight: 700;
  display: flex;
  margin: 6px 0px 0px 10px;
}

.live {
  color: #dd0000;
  font-weight: 700;
  display: flex;
  margin-top: 6px;
}

.circle {
  height: 7px;
  width: 7px;
  background-color: #dd0000;
  border-radius: 50%;
  margin: 6px 5px;
}
.matchHeader .live,
.matchHeader .completed {
  padding-left: 70px;
  font-size: large;
}

.inPlayHdr {
  font-weight: 600;
}
